@import url(1.css);
@font-face{
font-family:"Helvetica Neue LT W01_77 Bd Cn";
src:url("../fonts/1527aeed-e69d-4399-82e3-7b53d48da7a2.eot#iefix");
src:url("../fonts/1527aeed-e69d-4399-82e3-7b53d48da7a2.eot#iefix") format("eot"),url("../fonts/5f4620bc-98f7-4b13-9f90-3a54ea6a9c55.woff2") format("woff2"),url("../fonts/ac30e84e-cb19-4576-b6f9-491fccbd42ff.woff") format("woff"),url("../fonts/b583b782-0709-4a13-899f-7e9ab1a7eccd.ttf") format("truetype"),url("../fonts/d5dd03f5-3afb-46e9-aad0-234de8607afa.svg#d5dd03f5-3afb-46e9-aad0-234de8607afa") format("svg");
}
@font-face{
font-family:"Helvetica Neue LT W01_87 Hv Cn";
src:url("../fonts/dfe2df2c-9e8e-489d-b572-0f24043e9ca1.eot#iefix");
src:url("../fonts/dfe2df2c-9e8e-489d-b572-0f24043e9ca1.eot#iefix") format("eot"),url("../fonts/835c9867-49fd-49c6-ad61-f6e4e47e17fa.woff2") format("woff2"),url("../fonts/0c4dfc49-f798-458f-be90-e1d5a3e65f48.woff") format("woff"),url("../fonts/f4ad3cac-3a29-41f8-b890-e7badf717aa0.ttf") format("truetype"),url("../fonts/c1ce2e4a-f726-4fea-89b2-7e0896c07a06.svg#c1ce2e4a-f726-4fea-89b2-7e0896c07a06") format("svg");
}
